html{
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 500px;
    text-align: center;
}
img{
   margin-top: 0;
   margin-left: 40px;  
}
p{
    text-align: left;
    margin-left: 10px;
    margin-right: 50px;
}
h1{
    margin-left: 5px;
    text-align: left;
}
.educ{
    margin-top: 5px;
    margin-bottom: 0%;
    font-size: 30px;
}

.line{
    font-size: 20px;
    margin-bottom: 0px;
    border-radius: 5px;
}
.bsit{
    margin-top: 0px;
}
body{
    height: 250vh;
}